In [1]:
import pandas as pd

# Создаём таблицу
data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    "Имя": ["Иван", "Ольга", "Алексей", "Мария", "Сергей", "Анна", "Дмитрий", "Елена", "Виктор", "Алиса",
            "Павел", "Светлана", "Роман", "Татьяна", "Николай", "Валерия", "Григорий", "Юлия", "Степан", "Василиса"],
    "Возраст": [25, 30, 40, 35, 28, 32, 45, 29, 31, 27, 33, 26, 42, 37, 39, 24, 50, 45, 41, 38],
    "Должность": ["Инженер", "Аналитик", "Менеджер", "Программист", "Специалист", "Разработчик", "HR", "Маркетолог", "Юрист", "Дизайнер",
                  "Администратор", "Тестировщик", "Финансист", "Редактор", "Логист", "SEO-специалист", "Бухгалтер", "Директор", "Экономист", "Проект-менеджер"],
    "Отдел": ["IT", "Маркетинг", "Продажи", "IT", "HR", "IT", "HR", "Маркетинг", "Юридический", "Дизайн",
              "Администрация", "Тестирование", "Финансы", "Редакция", "Логистика", "SEO", "Бухгалтерия", "Финансы", "Экономика", "Продажи"],
    "Зарплата": [60000, 75000, 90000, 80000, 50000, 85000, 48000, 70000, 95000, 62000, 55000, 67000, 105000, 72000, 75000, 64000, 110000, 150000, 98000, 88000],
    "Стаж работы": [2, 5, 15, 7, 3, 6, 12, 4, 10, 5, 7, 2, 20, 9, 11, 3, 25, 20, 14, 8]
}

df = pd.DataFrame(data)

# Устанавливаем ID как индекс
df.set_index('ID', inplace=True)

# 1. Получить информацию о сотруднике с ID=5
employee_id_5 = df.loc[5]
print("Информация о сотруднике с ID=5:\n", employee_id_5)

# 2. Вывести возраст третьего сотрудника (позиция 2)
age_third_employee = df.iloc[2]['Возраст']
print("Возраст третьего сотрудника:", age_third_employee)

# 3. Название отдела для сотрудника "Мария"
row_maria = df[df['Имя'] == 'Мария']
department_maria = df.at[row_maria.index[0], 'Отдел']
print("Отдел Марии:", department_maria)

# 4. Зарплата в 4-й строке и 5-м столбце (нумерация с 0)
salary = df.iat[3, 4]
print("Зарплата в 4-й строке, 5-м столбце:", salary)

# 5. Объяснение разницы между методами:
print("""
.loc[] - по меткам (имена индексов и колонок)
.iloc[] - по числовым позициям
.at[] - быстрый доступ к одному элементу по метке
.iat[] - быстрый доступ к одному элементу по позиции
""")

Информация о сотруднике с ID=5:
 Имя                Сергей
Возраст                28
Должность      Специалист
Отдел                  HR
Зарплата            50000
Стаж работы             3
Name: 5, dtype: object
Возраст третьего сотрудника: 40
Отдел Марии: IT
Зарплата в 4-й строке, 5-м столбце: 80000

.loc[] - по меткам (имена индексов и колонок)
.iloc[] - по числовым позициям
.at[] - быстрый доступ к одному элементу по метке
.iat[] - быстрый доступ к одному элементу по позиции